<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{private/main::layout(~{::bodyContent})}">
<body>
<!-- Body Content Wrapper -->
<div class="ms-content-wrapper" th:fragment="bodyContent">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>Add Service</h6>
        </div>
        <div class="ms-panel-body">
            <form class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Select Category</label>
                        <div class="input-group">
                            <select class="form-control" id="validationCustom01">
                                <option value="">Select Category</option>
                                <option value="1">Category - 1</option>
                                <option value="2">Category - 2</option>
                                <option value="3">Category - 3</option>
                                <option value="4">Category - 4</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a service category.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Select Sub-Category</label>
                        <div class="input-group">
                            <select class="form-control" id="validationCustom02">
                                <option value="">Select Sub-Category</option>
                                <option value="1">Sub-Category - 1</option>
                                <option value="2">Sub-Category - 2</option>
                                <option value="3">Sub-Category - 3</option>
                                <option value="4">Sub-Category - 4</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a service category.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom03">Service Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationCustom03"
                                   placeholder="Service Name" required>
                            <div class="invalid-feedback">
                                Please provide a valid name.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="rating">Rating/5</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="rating"
                                   placeholder="Rating/5" required>
                            <div class="invalid-feedback">
                                Please provide a valid rating.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="reviewCount">Review Count</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="reviewCount"
                                   placeholder="Review count" required>
                            <div class="invalid-feedback">
                                Please provide a valid number.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="serviceSummary">Summary</label>
                        <div class="input-group small">
                            <textarea id="serviceSummary" class="texteditor" placeholder="Summary">
                            </textarea>
                            <div class="invalid-feedback">
                                Please provide service summary.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-tag">
                    <h2>Services Tagging</h2>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="subCategory">Select Sub-Category</label>
                        <div class="input-group">
                            <select class="form-control" id="subCategory">
                                <option value="">Select Sub-Category</option>
                                <option value="1">Sub-Category - 1</option>
                                <option value="2">Sub-Category - 2</option>
                                <option value="3">Sub-Category - 3</option>
                                <option value="4">Sub-Category - 4</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a service category.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="relatedServices">Related Services</label>
                        <div class="input-group">
                            <select class="select-multiple form-control" id="relatedServices" name="states[]" multiple="multiple">
                                <option value="1">NBFC Registration</option>
                                <option value="2">Start Company In India</option>
                                <option value="3">Start Company In USA</option>
                                <option value="4">Trademark Registration</option>
                                <option value="5">GST Registration</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select related services.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block" type="button">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>