<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{public/main::layout(~{::bodyContent})}">
<body>
<main class="main" th:fragment="bodyContent">
    <section class="all-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="side-bar">
                        <div class="service-menu">
                            <div class="menu-item">
                                <a href="" class="active">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Business In India</span></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="">
                                    <div class="icon"><i class="bi bi-play-circle"></i></div>
                                    <div class="item"><span>Start Finance Business</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <div class="service-wrapper">
                        <div class="clearfix">
                            <h2>Annual fillings</h2>
                            <p class="text-muted">Select service from our catalogue.</p>
                        </div>
                        <div class="service-card">
                            <div class="row">
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Public Limited Company</h5>
                                            <p>Ensure compliance for your public limited company with our expert
                                                guidance. Stay updated with all the necessary regulations and avoid any
                                                legal complications.</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="" class="btn btn-default">
                                                <span>Explore more</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>